@import "resetCSS";
html{
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
    margin: 2vw 30vw auto 30vw;
    h1{
        font-weight: 200;
        color: hsl(234, 12%, 34%);
        font-size: 4vh;
    }
    h2{
        font-weight: 900;
        color: hsl(234, 12%, 34%);
        font-size: 4vh;
        padding-bottom: 1vh;
    }
    h3{
        font-weight: 400;
        color: hsl(229, 6%, 66%);
        font-size: 2vh;
    }
}

@mixin box($color){
    margin: 20px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 15px;
    overflow: hidden;
    hr{
        border-top: 3px solid $color;
    }
    h1, h2{
        padding: 1vh 1vh 0vh 2vh;
    }
    h1{
        font-weight: 900;
        color: hsl(234, 12%, 34%);
        font-size: 3vh;
    }
    h2{
        font-weight: 400;
        color: hsl(229, 6%, 66%);
        font-size: 2vh;
    }
    img{
        float: right;
        padding: 15px;
    }
}

.team-builder{
    @include box(hsl(0, 78%, 62%));
    grid-area: top;
}
.supervisor{
    @include box(hsl(180, 62%, 55%));
    grid-area: left;
}
.karma{
    @include box(hsl(34, 97%, 64%));
    grid-area: bottom;
}
.calculator{
    @include box(hsl(212, 86%, 64%));
    grid-area: right;
}

.content{
    margin: 10vh;
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-template-areas: 
    ". top ."
    "left top right"
    "left bottom right"
    ". bottom .";
}

@import "mobile";